/* background image of the whole site */
body{
    background-image: url('../../images/concert.jpg');
    background-repeat: no-repeat;
    background-size: 2800px;
   
}

/* designing body section title */
.body-title{
    text-align: center;
    font-size: 20px;
    text-shadow:1px 2px black;
    color: white;
}


/* grid container to divide space between two components: singers  and cart(singer selected) */
.grid-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin-left: 30px;
    margin: 30px;
    
    
}

/*dividing singer container into 2 columns and 3 rows  */
.row{
   display: grid;
   grid-template-columns: repeat(2,1fr);
   gap: 50px 20px;
  
}